* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}

.navbar {
  background: #2563eb;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  align-items: center;
}

.logo {
  font-size: 28px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: yellow;
}

.page {
  padding: 50px;
  text-align: center;
}